* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 3000px;
    color:#031329;
    position: relative;
    
    padding-bottom: px;
}

/*footer*/
footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 400px;
    background-color: #031329;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}

    #footerLeft {
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

        #footerHeader{
            margin-top: 20%;
            font-size: 40px;
        }
        #footerContactButton{
            width: 50%;
            height: 15%;
            border-radius: 30px;
            font-size: 20px;
            box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 0.25) inset;
            border: 0px;
        }
        #footerCopyright {
            margin-bottom: 2%;
        }

    #footerRight {
        box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 0.25) inset;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-right: 3%;
        width: 65%;
        margin-top: 3%;
        background-color: #394555;
        display: flex;
        justify-content: space-evenly;
    }

        #footerSightMap {
            margin: 10%;
            color: #FFFFFF;
        }
            #footerLinks {
                font-size: 20px;
                list-style-type: none;
            }
        #footerSocial {
            margin: 10%;
            color: #FFFFFF;
        }
        
        .footerHead2 {
            
            font-size: 25px;
            text-decoration: underline;
            margin-bottom: 15px;
        }

        .footerSocialButton {
            border: 0px;
            box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 0.25) inset;
            justify-content: space-evenly;
            flex-direction: column;
            width: 50px;
            height: 50px;
            border-radius: 35px;
        }




